/* custom only */
/* lge story 생활가이드 */
  :root{
      --lge-container-width: 700px; /* 컨테이너 너비 */

      /* color */
      --link-text-color: #0000FF; /* 링크 텍스트 색상 */

      /* highlight */
      --highlight: #1BA400;
      --highlight-bg: rgba(149, 255, 128, 0.14);

      --black: #000;
      --gray-400: #444;
      --gray-500: #555;
      --gray-600: #666;


      --bg-white: #fff;
      --bg-gray: #F6F6F6; /* 회색 배경색 */
      --bg-gray-dark: #E6E6E6; /* 어두운 회색 배경색 */

      --point-color: #027F6C; /* 포인트 색상 */
      --point-color-light: #EBF6F1; /* 연한 포인트 색상 */
      --border-color: #ddd; /* 테두리 색상 */
  }
   /* tstory css custom */
      .main { max-width: 1080px; }
      .area-main { max-width: var(--lge-container-width); }
      .article-view * { color: inherit; }
      #article-view { padding: 0; }
      .article-view ul li,
      #article-view figure figcaption { color: #000; }
      #article-view ul, 
      #article-view ol { margin: 0; padding: 0; }
      #article-view ul li, 
      #article-view ol li { margin: 0; font-size: inherit; }
      #article-view table td { padding: inherit; }
      #article-view .lge_story_table td { padding: 14px 5px; }
      #article-view .lge_story_table_specs td { padding: 2px 8px; vertical-align: middle; }
      #article-view figure figcaption { text-align: left; }
      #article-view figure.imageblock.alignCenter { margin: 0; }
      #article-view p { line-height: 1.4; }
      .lge_story_container figure.imageblock, 
      .lge_story_container #tt-body-page ,
      .lge_story_container figure.imageblock { display: block; }
      #article-view .lge_story_container [data-ke-size] { line-height: inherit; }
      /* .lge_story_container + [data-ke-type="source"] { display: none !important; } */

  /* 
      tstory mobile css custom 
      최초 접속경로가 mobile device 일때 참조되는 속성.
  */ 
      .lge_story_container ul, 
      .lge_story_container ol { margin: 0; padding: 0; }
      .lge_story_container ul li, 
      .lge_story_container ol li { margin: 0; font-size: inherit; }
      .lge_story_container table td { padding: inherit; }
      .lge_story_container .lge_story_table td { padding: 14px 5px; }
      .lge_story_container .lge_story_table_specs td { padding: 2px 8px; vertical-align: middle; }
      .lge_story_container figure figcaption { text-align: left; color: #000; }
      .lge_story_container figure.imageblock.alignCenter { margin: 0; }

      .blogview_content ul li,
      .blogview_content ol li { font-size: inherit; }
      .blogview_content ol:not([data-ke-list-type]) li:before {
          content: inherit;
          position: relative;
          width: auto;
          height: auto;
          border-radius: 0;
          background: transparent;
          left: inherit;
          top: inherit;
      }
      .blogview_content ul:not([data-ke-list-type]) li:before { 
          content: inherit;
          position: relative;
          width: auto;
          height: auto;
          border-radius: 0;
          background: transparent;
          left: inherit;
          top: inherit;
      }
      .blogview_content ul:not([data-ke-list-type]) li, 
      .blogview_content ol:not([data-ke-list-type]) li {
          position: relative;
          padding: inherit !important;
          margin-top: inherit !important;
          margin-bottom: inherit !important;
          line-height: inherit !important;
          color: inherit;
          list-style-type: none !important;
          font-size: inherit;
      }

      .blogview_content ol li p, 
      .blogview_content ol li div, 
      .blogview_content ul li p, 
      .blogview_content ul li div { display: block; }
      .blogview_content.useless_p_margin p { margin: 0; }

      /* font size */
        .blogview_content .lge_story_container .font_black { font-weight: 900 !important; } /* 매우 굵은 텍스트 스타일 */
        .blogview_content .lge_story_container .font_extrabold { font-weight: 800 !important; } /* 좀 더 굵은 텍스트 스타일 */
        .blogview_content .lge_story_container .font_bold { font-weight: bold !important; } /* 굵은 텍스트 스타일 */
        .blogview_content .lge_story_container .font_semibold { font-weight: 600 !important; } /* 약간 굵은 텍스트 스타일 */
        .blogview_content .lge_story_container .font_medium { font-weight: 500 !important; }
        .blogview_content .lge_story_container .font_12 { font-size: 12px !important; }
        .blogview_content .lge_story_container .font_14 { font-size: 14px !important; }
        .blogview_content .lge_story_container .font_16 { font-size: 16px !important; }
        .blogview_content .lge_story_container .font_18 { font-size: 18px !important; }
        .blogview_content .lge_story_container .font_20 { font-size: 20px !important; }
        .blogview_content .lge_story_container .font_24 { font-size: 24px !important; }
        .blogview_content .lge_story_container .font_28 { font-size: 28px !important; }
        .blogview_content .lge_story_container .font_30 { font-size: 30px !important; }
        .blogview_content .lge_story_container .font_32 { font-size: 32px !important; }
        .blogview_content .lge_story_container .font_36 { font-size: 36px !important; }
        .blogview_content .lge_story_container .font_40 { font-size: 40px !important; }

        /* margin */
        .blogview_content .lge_story_container .mt2 { margin-top: 2px !important; }
        .blogview_content .lge_story_container .mt4 { margin-top: 4px !important; }
        .blogview_content .lge_story_container .mt10 { margin-top: 10px !important; }
        .blogview_content .lge_story_container .mt12 { margin-top: 12px !important; }
        .blogview_content .lge_story_container .mt20 { margin-top: 20px !important; }
        .blogview_content .lge_story_container .mt30 { margin-top: 30px !important; }
        .blogview_content .lge_story_container .mt32 { margin-top: 32px !important; }
        .blogview_content .lge_story_container .mt40 { margin-top: 40px !important; }
        .blogview_content .lge_story_container .mt50 { margin-top: 50px !important; }
        .blogview_content .lge_story_container .mt60 { margin-top: 60px !important; }
        .blogview_content .lge_story_container .mt70 { margin-top: 70px !important; }
        .blogview_content .lge_story_container .mt72 { margin-top: 72px !important; }
        .blogview_content .lge_story_container .mt80 { margin-top: 80px !important; }
        .blogview_content .lge_story_container .mt90 { margin-top: 90px !important; }
        .blogview_content .lge_story_container .mt100 { margin-top: 100px !important; }
        .blogview_content .lge_story_container .mt110 { margin-top: 110px !important; }
        .blogview_content .lge_story_container .mt120 { margin-top: 120px !important; }

  /*  core */
    /*  
        Tstory 기본적으로 빌드되는 css 속성에의해서 
        marign, padding, fontsize 는 강제되는 속성이 많아
        최고레벨 수준으로 적용하는걸 추천
    */
        /* color assets */
        .lge_story_container .color_black { color: #000; !important; }
        .lge_story_container .gray400,
        .lge_story_container .gray400 * { color: var(--gray-400) !important; } /* 회색 400 텍스트 스타일 */
        .lge_story_container .gray500,
        .lge_story_container .gray500 * { color: var(--gray-500) !important; } /* 회색 500 텍스트 스타일 */
        .lge_story_container .gray600,
        .lge_story_container .gray600 * { color: var(--gray-600) !important; } /* 회색 600 텍스트 스타일 */

        
        /* bg */
        .lge_story_container .point_bg { background-color: var(--point-color-light); } /* 포인트 배경색 스타일 */
        .lge_story_container .point_color,
        .lge_story_container .point_color * { color: var(--point-color) !important; } /* 연한 */

        .lge_story_container .gray_bg { background-color: var(--gray-bg) !important; }
        .lge_story_container .gray_bg_light { background-color: var(--gray-bg-light) !important;}
        .lge_story_container .gray_bg_dark { background-color: var(--gray-bg-dark) !important;}

        /* text assets  */
        .lge_story_container .preline { white-space: pre-line; } /* 줄바꿈 유지 스타일 */
        .lge_story_container .italic_text { font-style: italic; } /* 이탤릭 텍스트 스타일 */
        .lge_story_container .underline_text { text-decoration: underline; } /* 밑줄 텍스트 스타일 */
        .lge_story_container .strikethrough_text { text-decoration: line-through; } /* 취소선 텍스트 스타일 */
        .lge_story_container .highlight_text { background-color: yellow; } /* 강조 텍스트 스타일 */

        .lge_story_container .link_text_group { display: flex; justify-content: flex-start; align-items: stretch; flex-wrap: wrap; gap: 4px 20px; }
        .lge_story_container .link_text_group .link_text { padding: 10px 0; line-height: 1.25; }
        .lge_story_container .link_text_group + .link_text_group { margin-top: 4px; }
        .lge_story_container .link_text { display: inline-block; color: var(--link-text-color) !important; font-size: 16px; font-weight: 700; line-height: 1.6; letter-spacing: -0.01em; text-decoration: underline; text-underline-offset: 2px; } /* 링크 텍스트 스타일 */
        
        /* font size */
        .lge_story_container .font_black { font-weight: 900 !important; } /* 매우 굵은 텍스트 스타일 */
        .lge_story_container .font_extrabold { font-weight: 800 !important; } /* 좀 더 굵은 텍스트 스타일 */
        .lge_story_container .font_bold { font-weight: bold !important; } /* 굵은 텍스트 스타일 */
        .lge_story_container .font_semibold { font-weight: 600 !important; } /* 약간 굵은 텍스트 스타일 */
        .lge_story_container .font_medium { font-weight: 500 !important; } /* 굵은 텍스트 스타일 */
        .lge_story_container .font_12 { font-size: 12px !important; }
        .lge_story_container .font_14 { font-size: 14px !important; }
        .lge_story_container .font_16 { font-size: 16px !important; }
        .lge_story_container .font_18 { font-size: 18px !important; }
        .lge_story_container .font_20 { font-size: 20px !important; }
        .lge_story_container .font_24 { font-size: 24px !important; }
        .lge_story_container .font_28 { font-size: 28px !important; }
        .lge_story_container .font_30 { font-size: 30px !important; }
        .lge_story_container .font_32 { font-size: 32px !important; }
        .lge_story_container .font_36 { font-size: 36px !important; }
        .lge_story_container .font_40 { font-size: 40px !important; }

        /* margin */
        .lge_story_container .mt2 { margin-top: 2px !important; }
        .lge_story_container .mt4 { margin-top: 4px !important; }
        .lge_story_container .mt10 { margin-top: 10px !important; }
        .lge_story_container .mt12 { margin-top: 12px !important; }
        .lge_story_container .mt20 { margin-top: 20px !important; }
        .lge_story_container .mt30 { margin-top: 30px !important; }
        .lge_story_container .mt32 { margin-top: 32px !important; }
        .lge_story_container .mt40 { margin-top: 40px !important; }
        .lge_story_container .mt50 { margin-top: 50px !important; }
        .lge_story_container .mt60 { margin-top: 60px !important; }
        .lge_story_container .mt70 { margin-top: 70px !important; }
        .lge_story_container .mt72 { margin-top: 72px !important; }
        .lge_story_container .mt80 { margin-top: 80px !important; }
        .lge_story_container .mt90 { margin-top: 90px !important; }
        .lge_story_container .mt100 { margin-top: 100px !important; }
        .lge_story_container .mt110 { margin-top: 110px !important; }
        .lge_story_container .mt120 { margin-top: 120px !important; }

        .lge_story_container {
            width: 100%;
            max-width: var(--lge-container-width);
            margin: 0 auto;
            color: #000;
            text-align: left;
        }
        .lge_story_container a { text-decoration: none; }
        .lge_story_container * { margin: 0; padding: 0; box-sizing: border-box; line-height: 1.4; letter-spacing: 0; color: var(--black) }
        .lge_story_container b { display: block; word-break: keep-all; }

        /* list assets */
        .lge_story_container ul li,
        .lge_story_container ul li p { font-size: inherit; }
        .lge_story_container .list_ul li { list-style-type: none !important; }

        .lge_story_container .list_disc,
        .lge_story_container .list_number,
        .lge_story_container .list_desc,
        .lge_story_container .list_star,
        .lge_story_container .list_depth { margin-left: 0; padding-left: 0 }
        
        .lge_story_container .list_disc { padding-inline-start: 1.5em; }
        .lge_story_container .list_disc li { list-style-type: disc !important; }
        .lge_story_container .list_disc li::marker { font-weight: bold; }

        .lge_story_container .list_hyphen { }
        .lge_story_container .list_hyphen li { list-style-type: none !important; display: flex; justify-content: flex-start; align-items: flex-start; line-height: 1.4; }
        .lge_story_container .list_hyphen li:before { content: "-" !important; font-size: inherit; line-height: 1.4; }

        .lge_story_container .list_number { }
        .lge_story_container .list_number li { list-style-type: none !important; display: flex; justify-content: flex-start; align-items: flex-start; gap: 2px; }
        .lge_story_container .list_number li span { flex-shrink: 0; font-weight: 400; font-size: 12px; line-height: 1.4; letter-spacing: 0; }
        .lge_story_container .list_number li p { font-weight: 400; font-size: 12px; line-height: 1.4; letter-spacing: 0; }

        .lge_story_container .list_desc { }
        .lge_story_container .list_desc li { list-style-type: none !important; display: flex; justify-content: flex-start; align-items: flex-start;}
        .lge_story_container .list_desc li:before { content: "※" !important; }

        .lge_story_container .list_star { font-size: 12px; }
        .lge_story_container .list_star li { list-style-type: none !important; display: flex; justify-content: flex-start; align-items: flex-start; gap: 0.1em; padding-left: 0; }
        .lge_story_container .list_star li:before { content: "*" !important; }
        .lge_story_container .list_star li + li { margin-top: 2px; }

        .lge_story_container .list_depth { padding: 10px 8px 0; }
        .lge_story_container .list_depth_tit { font-size: 12px; font-weight: 700; line-height: 1.4; }

        /* container header  */
        .lge_story_container .lge_story_header { }
        .lge_story_container .lge_story_header_title { font-size: 40px; font-weight: 700; line-height: 1.4; word-break: keep-all; }
        .lge_story_container .lge_story_header_subtitle { margin-top: 20px; word-break: keep-all; }
        .lge_story_container .lge_story_header_subtitle p { font-size: 26px; line-height: 1.4; letter-spacing: -0.01em;  }

        /* content  */
        /* .lge_story_section  + .lge_story_section { margin-top: 100px; } */
        .lge_story_container .lge_story_row { }
        .lge_story_container .lge_story_row_header { }
        .lge_story_container .lge_story_row_body { }
        .lge_story_container .lge_story_row_body + .lge_story_row_body { margin-top: 80px; padding-top: 80px; border-top: 1px solid var(--border-color); }

        .lge_story_container .lge_story_row_title { font-size: 36px; font-weight: 700; line-height: 1.4; }
        .lge_story_container .lge_story_row_subtitle { margin-top: 50px; }
        .lge_story_container .lge_story_row_subtitle p { font-size: 20px; font-weight: 400; line-height: 1.4; letter-spacing: -0.01em;  }
        .lge_story_container .lge_story_row_subtitle:first-child { margin-top: 0; }
        .lge_story_container .lge_story_row_tag { font-size: 16px; font-weight: 400; line-height: 1.4; letter-spacing: -0.01em; margin-top: 10px; }
        .lge_story_container .lge_story_row_desc { }

        .lge_story_container .lge_story_content_title { font-size: 32px; font-weight: 700; line-height: 1.4; word-break: keep-all; }
        .lge_story_container .lge_story_content_titlesub { font-size: 20px; font-weight: 700; line-height: 1.4; word-break: keep-all; }
        .lge_story_container .lge_story_content_desc { font-size: 16px; font-weight: 400; line-height: 1.6; letter-spacing: -0.01em; margin-top: 10px; }

        .lge_story_container .lge_story_figure { text-align: left; }
        .lge_story_container .lge_story_figure img { width: 100%; height: auto; vertical-align: top; }
        .lge_story_container .lge_story_figure_auto img { max-width: 100%; height: auto; }

        /* table */
        .lge_story_container .lge_story_table { overflow: auto; }
        .lge_story_container .lge_story_table b,
        .lge_story_container .lge_story_table span { display: block; text-align: center; }
        .lge_story_container .lge_story_table table { width: 700px; border-collapse: collapse; table-layout: fixed; }
        .lge_story_container .lge_story_table th,
        .lge_story_container .lge_story_table td { border: 1px solid var(--border-color); word-break: keep-all; }
        .lge_story_container .lge_story_table th { background-color: var(--bg-gray); padding: 20px 8px 14px; }
        .lge_story_container .lge_story_table th b { font-size: 20px; font-weight: 700; line-height: 1.4; }
        .lge_story_container .lge_story_table td b { font-size: 16px; font-weight: 700; line-height: 1.4; }
        .lge_story_container .lge_story_table th span,
        .lge_story_container .lge_story_table td span { font-size: 14px; font-weight: 400; line-height: 1.4; letter-spacing: -0.02em; }
        .lge_story_container .lge_story_table th span:not(:first-child),
        .lge_story_container .lge_story_table td span:not(:first-child) { margin-top: 6px; }
        .lge_story_container .lge_story_table td { padding: 14px 8px; vertical-align: top; }
        .lge_story_container .lge_story_table th:first-child,
        .lge_story_container .lge_story_table td:first-child { border-left: none; }
        .lge_story_container .lge_story_table th:last-child,
        .lge_story_container .lge_story_table td:last-child { border-right: none; }
        .lge_story_container .lge_story_table_img img { width: 100%; height: auto; }

        /* table empty */
        .lge_story_container .lge_story_table th:empty,
        .lge_story_container .lge_story_table td:empty { text-align: center; vertical-align: middle; }
        .lge_story_container .lge_story_table th:empty:before,
        .lge_story_container .lge_story_table td:empty:before { content: ""; display: inline-block; width: 14px; height: 2px; background-color: currentColor; margin: auto }
        
        /* specs table */
        .lge_story_container .lge_story_table_specs { text-align: center; }
        .lge_story_container .lge_story_table_specs th { background-color: var(--bg-gray-dark); font-size: 16px; font-weight: 700; line-height: 1.4; letter-spacing: 0; }
        .lge_story_container .lge_story_table_specs th b { font-size: 16px; font-weight: 700; line-height: 1.4; }
        .lge_story_container .lge_story_table_specs td span { font-size: 16px; font-weight: 400; line-height: 1.4; letter-spacing: 0; }
        .lge_story_container .lge_story_table_specs thead th { padding: 4px; }
        .lge_story_container .lge_story_table_specs thead td { height: 46px; }
        .lge_story_container .lge_story_table_specs tbody th { padding: 8px; }

        /* device auto size table */
        .lge_story_container .lge_story_table__auto table { width: 100%; }

        /* branch - 섹션 분기 */
        .lge_story_container .lge_story_section_branch { border-top: 1px solid var(--border-color); margin-top: 120px; padding-top: 120px; }

        /* tips */
        .lge_story_container .lge_story_list_tip_title { font-size: 32px; font-weight: 700; line-height: 1.4; word-break: keep-all; }
        .lge_story_container .lge_story_list_tip { }
        .lge_story_container .lge_story_list_tip li { list-style-type: none !important; }
        .lge_story_container .lge_story_list_tip b { display: block; font-size: 32px; font-weight: 700; line-height: 1.4; }
        .lge_story_container .lge_story_list_tip span { display: block; font-size: 20px; font-weight: 400; line-height: 1.4; letter-spacing: -0.01em; margin-top: 20px }
        .lge_story_container .lge_story_list_tip a { display: inline-block; margin-top: 10px; margin-right: 20px; font-size: 16px; font-weight: 700; line-height: 1.4; letter-spacing: -0.01em; }

        /*  video  */
        .lge_story_container .lge_story_video_area { padding: 0 20px; overflow: hidden; }
        .lge_story_container .lge_story_video_area iframe { width: 100%; height: auto; aspect-ratio: 1.78/1; }
        .lge_story_container .lge_story_video_timeline li {  list-style-type: none !important; }

        /* index */
        .lge_story_container .lge_story_index { }
        .lge_story_container .lge_story_index_content > li { counter-increment: list-counter; display: flex; align-items: baseline; gap:0.1em;}
        .lge_story_container .lge_story_index_content > li::before { content: counter(list-counter) ". "; flex-shrink: 0; min-width: 1em; font-size: 20px; }
        .lge_story_container .lge_story_index_content > li,
        .lge_story_container .lge_story_index_content > li p { font-size: 20px; }
        .lge_story_container .lge_story_index_btboder { width: 100%; height: 1px; background-color: #ddd; }

        /* summary */
        .lge_story_container .lge_story_summary { border: 1px solid #CECECE; border-radius: 16px; overflow: hidden; }
        .lge_story_container .lge_story_summary_head { background-color: #363636; padding: 12px 40px; }
        .lge_story_container .lge_story_summary_head p { line-height: 1.6; color: #fff; }
        .lge_story_container .lge_story_summary_body { padding: 32px 40px; }
        .lge_story_container .lge_story_summary_body * { color: #737373; line-height: 1.6; }

/*  core end */


/*  구매가이드 */
        #lge_story_buy_guide { }
        #lge_story_buy_guide .lge_story_figure_caption b { display: block; font-size: 32px; font-weight: 700; line-height: 1.4; letter-spacing: -0.01em; }
        #lge_story_buy_guide .lge_story_figure_caption p { font-size: 16px; font-weight: 400; line-height: 1.4; letter-spacing: -0.01em; margin-top: 12px; }

        #lge_story_buy_guide .inherit { padding: 0 !important; }
        #lge_story_buy_guide .lge_story_section_branch + .lge_story_section_branch { padding-top: 80px; margin-top: 80px; }
        #lge_story_buy_guide .lge_story_section_branch .lge_story_header_subtitle { font-size: 24px; }

        #lge_story_buy_guide .lge_story_table thead tr:last-child:not(:nth-child(2)) th { border-bottom-color: #fff; }
        #lge_story_buy_guide .lge_story_table_img { margin: -14px auto; max-width: 199px; }
        #lge_story_buy_guide .lge_story_table_specs thead th { padding: 12px 8px; }
        #lge_story_buy_guide .lge_story_table_specs thead tr:first-child th:nth-child(2) { padding: 4px; }
        #lge_story_buy_guide .lge_story_table_specs thead tr:last-child th { padding: 14px 8px }
        #lge_story_buy_guide .lge_story_table_specs tbody td { vertical-align: middle; padding: 2px 8px; height: 60px; }
        #lge_story_buy_guide .lge_story_table_specs tbody td b { font-weight: 600; }
        #lge_story_buy_guide .lge_story_table_specs tbody td span:not(:first-child), 
        #lge_story_buy_guide .lge_story_table_specs tbody td span:not(:first-child) { margin-top: 4px; }
        #lge_story_buy_guide .lge_story_list_tip li + li { margin-top: 80px !important; }

        /* mobile font guide */
        @media(max-width:768px){
            #lge_story_buy_guide .lge_story_header_title { font-size: 32px; }
            #lge_story_buy_guide .lge_story_header_subtitle p { font-size: 20px; }
            #lge_story_buy_guide .lge_story_content_title { font-size: 24px; }
            #lge_story_buy_guide .lge_story_table th b { font-size: 20px; }
            #lge_story_buy_guide .lge_story_figure_caption b { font-size: 24px; }
            #lge_story_buy_guide .lge_story_row_subtitle p { font-size: 18px; }
            #lge_story_buy_guide .lge_story_row_title { font-size: 28px; }
            #lge_story_buy_guide .lge_story_list_tip_title { font-size: 32px; }
            #lge_story_buy_guide .lge_story_list_tip_title br { display: none; }
            #lge_story_buy_guide .lge_story_list_tip b { font-size: 24px; }
        }
/*  구매가이드 // */

  /* 사용자가이드 */
        #lge_story_use_guide { 
            --gray-500: #525252;  
        }
        /* header */
        #lge_story_use_guide .lge_story_hero_header { /* auto size */ }
        #lge_story_use_guide .lge_story_hero_title { padding: 10px 0 0; display: flex; justify-content: flex-start; align-items: stretch; flex-direction: column; gap: 10px }
        #lge_story_use_guide .lge_stroy_breadcrumb { display: flex; justify-content: flex-start; align-items: stretch; flex-wrap: wrap; }
        #lge_story_use_guide .lge_stroy_breadcrumb > li { display: flex; justify-content: flex-start; align-items: stretch; }
        #lge_story_use_guide .lge_stroy_breadcrumb > li:not(:first-child):before { content: ""; width: 1px; height: 12px; margin: auto 10px; background-color: currentColor; }

        /* description */
        #lge_story_use_guide .lge_story_desc { }

        #lge_story_use_guide .list_used_disc { }
        #lge_story_use_guide .list_used_disc > li { list-style-type: none !important; display: flex; justify-content: flex-start; align-items: flex-start; gap: 2px; line-height: 1.5; }
        #lge_story_use_guide .list_used_disc > li:before { content: "·"; flex-shrink: 0; font-size: inherit; line-height: 1.5; }
        #lge_story_use_guide .list_used_disc > li p { line-height: inherit; }

        #lge_story_use_guide .lge_story_step_list {  }
        #lge_story_use_guide .lge_story_step_list > li { border-top: 1px solid #000; padding: 10px 0 0 !important; list-style-type: none !important; }
        #lge_story_use_guide .lge_story_step_list > li + li { margin-top: 40px !important; }
        #lge_story_use_guide .lge_story_step_tit { display: flex; justify-content: flex-start; align-items: stretch; gap: 4px; }
        #lge_story_use_guide .lge_story_step_tit span { flex-shrink: 0; }

        /* mobile font guide */
        @media(max-width:768px){

        }
        /* 사용가이드 W18 */
/* 사용자가이드 // */
